.lds-dual-ring {
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings {
  display: flex;
  width: 100%;
}

.settings__item {
  width: 70%;
}

.nav-link {
  text-transform: uppercase;
}

a.n-link-active {
  text-transform: uppercase;
  margin: 1rem;
}

.d-flex {
  display: flex;
}

.checkbox {
  margin: 0.25rem;
}

.dashboard__list-item a, .dashboard__list-item a:hover {
  cursor: pointer;
}
 
 